#========================================
# General rules
#========================================
# --------------------------------
# Git merge
# --------------------------------
*.orig

# --------------------------------
# Visual Studio
# --------------------------------
*.suo
*.user
/**/.vs/
/**/.vscode

# --------------------------------
# Roslyn
# --------------------------------
*.sln.ide/

# --------------------------------
# NuGet
# --------------------------------
packages/

# --------------------------------
# NodeJS
# --------------------------------
/**/node_modules
npm-debug.log
/**/deep-build.lock

# --------------------------------
# JetBrains products
# --------------------------------
_ReSharper.*/
/DotCover/
.idea/
*.iml

# --------------------------------
# C# projects
# --------------------------------
/**/obj/
/**/bin/*

#========================================
# Project rules
#========================================
/out/
/src/**/dist